
	<!-- [ navigation menu ] start -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			var $buildingvar = $("#BuildingSelect");
			var $floorvar = $("#FloorSelect");
			var $roomvar = $("#RoomSelect");

			// $("#seat_selection_container").hide();
			
			$buildingvar.change(function() {
				var optionSelected = $(this).find("option:selected");
				var valueSelected = optionSelected.val();
				building_name = optionSelected.text();

				data = {'building': building_name};

				$.ajax({
					type: "GET",
					url: '/get_floors/',
					data: data,
					success: function(result) {
						$("#FloorSelect option").remove();
						$floorvar.append('<option disabled selected="true">Floor Number</option>');
						for (var i = 0; i < result.length; i++) {
							$floorvar.append($("<option></option>").attr("value", result[i].floor_id).text(result[i].floor_number));
						};
					},
				});
			});

			$floorvar.change(function() {
				var optionSelected = $(this).find("option:selected");
				var valueSelected = optionSelected.val();
				var floor_number = optionSelected.text(); // don't really need this

				data = {'floor_id': valueSelected, 'floor': floor_number};

				$.ajax({
					type: "GET",
					url: '/get_rooms/',
					data: data,
					success: function(result) {
						$("#RoomSelect option").remove();
						$roomvar.append('<option disabled selected="true">Room Number</option>');
						for (var i = result.length - 1; i >= 0; i--) {
							$roomvar.append('<option>' + result[i].room_number + '</option>');
						};
					},
				});
			});

			$roomvar.change(function() {
				var optionSelected = $(this).find("option:selected");
				room_number = optionSelected.text();
				var floor_id = $("#FloorSelect").val()

				imageLocation = "/static/assets/images/room_maps/";
        		fileType = ".png";

				data = {'room': room_number, "floor_id": floor_id};

				$.ajax({
					type: "GET",
					url: "/selection_submitted/",
					data: data,
					success: function(result) {
						$("button").click(function(event) {
							$(".maxOccup").text(result.max_occupancy);
							$(".maxPanOccup").text(result.max_pandemic_occupancy)
							$("#floorplan").attr("src", imageLocation.concat(building_name, "_", room_number, fileType))
							// $("#seat_selection_container").show();
							// $("#background_container").remove();
						});	
					},					
				});
			});
		});

	</script>
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link {% if 'index' in segment %} active {% endif %}">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">
									Home</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Room Selector</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<form role="form" method="POST" action="">

							{% csrf_token %}
							<li class="form-group pt-3 px-3">
								<select class="custom-select" id="BuildingSelect">
									<option disabled selected="true">Building Name</option>
									{% for building in buildings %}
										<option value="{{ building.id }}">{{ building.name }}</option>
									{% endfor %}
								</select>
							</li>
							<li class="form-group pt-2 px-3">
								<select class="custom-select" id="FloorSelect">
									<option selected>Floor Number</option>
								</select>
							</li>
							<li class="form-group pt-2 px-3">
								<select class="custom-select" id="RoomSelect">
									<option selected>Room Name</option>
								</select>
							</li>
							<div class="text-center" src="/layouts/index.html">
								<button type="button" id="SubmitSelection" class="btn btn-success" onclick="setBackground(building_name, room_number)">Submit</button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
