
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link {% if 'index' in segment %} active {% endif %}">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">
									Home</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Room Selector</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<li class="form-group pt-3 px-3">
							<select class="custom-select" id="FormControlSelect1">
								<option selected>Building Name</option>
								<option>Biological Science</option>
								<option>Earth Science</option>
								<option>Science B</option>
								<option>Information & Communication Technologytretert</option>
							</select>
						</li>
						<li class="form-group pt-2 px-3">
							<select class="custom-select" id="FormControlSelect2">
								<option selected>Floor Number</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</li>
						<li class="form-group pt-2 px-3">
							<select class="custom-select" id="FormControlSelect3">
								<option selected>Room Name</option>
								<option>test1</option>
								<option>test2</option>
								<option>test3</option>
								<option>test4</option>
							</select>
						</li>

					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
