{% extends "layouts/base-fullscreen.html" %}

{% block title %} Password Change {% endblock %}

{% block content %} 

	<!-- [ auth-reset ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">

							<img src="/static/assets/images/btlab.png" alt="" class="img-fluid mb-4">
							<h4 class="text-black mb-4">Password Reset Confirm</h5>
							<span class="my-3 text-muted">Please enter your new password</span>
							<!-- dummy spacer -->
							<p> <br /> </p>						
							<form role="form" method="post" action="">

								{% csrf_token %}
								
								<div class="input-group mb-4">
									<div class="input-group-prepend">
									  <span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{{ form.new_password1 }}
								</div>

								<div class="input-group mb-4">
									<div class="input-group-prepend">
									  <span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{{ form.new_password2 }}
								</div>
								
								<button type="submit" name="Reset" class="btn btn-block btn-success mb-4">Reset my password</button>
							
							</form>

								<br />
								&copy; <a target="_blank" rel="noopener" href="https://ucalgary.ca/labs/biometric-technologies/home" class="f-w-400">Biometric Technologies Laboratory</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %} 