<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/4.0.0/panzoom.min.js"></script>
<script type="text/javascript" src="/static/assets/json/seat_positions/Engineering Block C_170.json"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>


<!-- Style Sheet -->
<style>

    .container {
        position: relative;
    }

    #grid {
        position: absolute;
        top: 0;
        right : 0;
        width: 100%;
    }

    #image_container {
        pointer-events: none;
    }

    svg {
      cursor:pointer;
    }

    rect.checked {
      fill:#48EA8B;
    }

    .link {
      stroke: #000;
      stroke-width: 0.5px;
    }

    .node {
      cursor: move;
      fill: #ccc;
      stroke: #000;
      stroke-width: 0.5px;
    }

    .node.fixed {
      fill: #f00;
    }

    #slider text{
        font-size: 20px;
    }

</style>

<!-- Create a div where the graph will take place -->

<body>

    <div class="container" id="seat_selection_container">
        <div class="image_container">
            <img src="/static/assets/images/room_maps/Earth Sciences_162.PNG">
        </div>
        <div class="grid" id="grid"></div>
        <div class="col-sm"><div id="slider"></div></div>
        <div class="col-sm-2"><p id="value1"></p></div>
        <div class="col-sm-2"><p id="value2"></p></div>
    </div>

</body>


<script>

    // define index values mapping to different state colours
    var WHITE = 0, GRAY = 1, RED = 2;

    // utility function to randomize ordering of array elements
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }

        return array;
    }

    function grid (config) {
        
        // defaults
        config = Object.assign({size:15, num_states:2, x_margin:2, y_margin:2, outline:'#000'}, config);  
        let {nx, ny, size, num_states, init, x_margin, y_margin, colour_array, outline, nodes, n_default, width, height} = config;
        
        if (colour_array === undefined)
            colour_array = Array.from({length:num_states}, (d,i) => i === 0 ? '#FFF' : 
                                                            (i === 1 ? d3.schemeSet3[0] : '#FF2323'));

        // randomize ordering of array elements
        nodes = shuffle(nodes);
        var node_IDs = [];
        var selected_nodes = [];

        // create a dictionary to maintain list of nodes by ID
        var node_map = {};
        for (let i = 0; i < nodes.length; i++) {
            if (i < n_default) {
                nodes[i].state = 1;
                nodes[i].colour = colour_array[GRAY];
                //console.log(nodes[i]);
            } else {
                nodes[i].state = 0;
                nodes[i].colour = colour_array[WHITE];
            }
            id = String(nodes[i].id);
            node_map[id] = nodes[i];
            node_IDs.push(id);
        }

        // append the svg object to the body of the page
        const svg = d3.select("#grid").append("svg");
        //const grid_area = d3.select("#grid");

        svg
            .attr("width", width)
            .attr("height", height);
            //.attr("style", 'background-color:gray');        

        const el = svg.node();
        const grid = svg.append("g")
                .attr("cursor", "pointer")
            .selectAll("rect")
            .data(nodes)
            .join("circle")
                .on("click", gridClick)
                .on("mouseover", hoverOver)
                .on("mouseout", hoverOff)
                .attr("cx", d => d.x * width)
                .attr("cy", d => d.y * height)
                .attr("id", d => "node_" + d.id)
                .attr("fill", d => d.colour)
                .attr("stroke", outline)
                .attr("r", size)


        // define slider settings
        var slider = d3
            .sliderBottom()
            .min(0)
            .max(nodes.length)
            .width(image_width - 30)
            .ticks(nodes.length / 10)
            .step(1)
            .tickFormat(d3.format(""))
            .default([0,n_default])
            .fill('#2196f3')
            .handle(
              d3
                .symbol()
                .type(d3.symbolCircle)
                .size(300)()
            )
            .on('onchange', val => {
                var num_to_infect = val[0];
                var num_to_select = val[1];
                //console.log("infected = " + num_to_infect + " | total = " + num_to_select);
                var selected = select_n_nodes(num_to_select);
                select_n_infected(num_to_infect, selected);
                var values = post_node_selections();
            });

        var gSlider = d3
            .select('div#slider')
            .append('svg')
            .attr('id', 'slider_svg')
            .attr('width', 1000)
            .attr('height', 200)
            .append('g')
            .attr('transform', 'translate(30,30)');

        gSlider.call(slider);

        function post_node_selections() {
            // loop through all list to determine which have a non-zero state
            selected_nodes = [];
            var count = 0;
            for (node_ID in node_map) {
                var node = node_map[node_ID];
                if (node.state != 0) {
                    node.attRate = 0.05;
                    selected_nodes.push(node);
                }
                if (node.state === 2) {
                    count++;
                }
            }
            // JSON-ify the selected node data
            selected_nodes_JSON = JSON.stringify(selected_nodes);
            // POST JSON-ified node data
            $.ajax({
             url: "/post_seat_selections/",
                method : "POST",
                dataType : "json",
                data : {'data': selected_nodes_JSON},
            });
            return [count, selected_nodes.length];
        }

        function select_n_nodes(num) {
            selected = [];
            for (let i = 0; i < nodes.length; i++) {
                var id = node_IDs[i];
                // update internal node states
                if (i < num) {
                    if (node_map[id].state === 0) {
                        node_map[id].state = 1;
                        node_map[id].colour = colour_array[GRAY];
                    }
                    selected.push(id);
                } else {
                    if (node_map[id].state != 0) {
                        node_map[id].state = 0;
                        node_map[id].colour = colour_array[WHITE];
                    }
                }
                // update node colours
                var node_tag = "#node_" + String(id);
                svg.select(node_tag).style('fill', node_map[id].colour);
                el.dispatchEvent(new CustomEvent('input'));
            }
            //console.log(selected);
            return selected;
        }

        function select_n_infected(num_to_infect, selected) {
            selected = shuffle(selected);
            for (let i = 0; i < selected.length; i++) {
                var id = selected[i];
                // update internal node states
                if (i < num_to_infect) {
                    if (node_map[id].state === 1) {
                        //console.log("infecting " + id);
                        node_map[id].state = 2;
                        node_map[id].colour = colour_array[RED];
                    }
                } else {
                    node_map[id].state = 1;
                    node_map[id].colour = colour_array[GRAY];
                }
                // update node colours
                var node_tag = "#node_" + String(id);
                svg.select(node_tag).style('fill', node_map[id].colour);
                el.dispatchEvent(new CustomEvent('input'));
            }
        }

        // define manual selection call-back functions
        function hoverOver({x, y, id}) {
            d3.select(this).style('stroke-width', '5');
        }

        function hoverOff({x, y, id}) {
            d3.select(this).style('stroke-width', '1');
        }

        function gridClick({x, y, id}) {
            node_map[id].state = (node_map[id].state + 1) % num_states;
            node_map[id].colour = colour_array[node_map[id].state];
            this.style.fill = node_map[id].colour;
            el.dispatchEvent(new CustomEvent('input'));
            var values = post_node_selections();

            //slider.max(selected_nodes.length);
            //slider.ticks(selected_nodes.length);
            //slider.default([num_infected, selected_nodes.length]);

            // gSlider
            //   .transition()
            //   .duration(100)
            //   .call(slider);

            d3.select('#slider_svg').remove();

            var slider = d3
                .sliderBottom()
                .min(0)
                .max(nodes.length)
                .width(image_width - 30)
                .ticks(nodes.length / 10)
                .step(1)
                .tickFormat(d3.format(""))
                .default(values)
                .fill('#2196f3')
                .handle(
                  d3
                    .symbol()
                    .type(d3.symbolCircle)
                    .size(300)()
                )
                .on('onchange', val => {
                    var num_to_infect = val[0];
                    var num_to_select = val[1];
                    //console.log("infected = " + num_to_infect + " | total = " + num_to_select);
                    var selected = select_n_nodes(num_to_select);
                    select_n_infected(num_to_infect, selected);
                    post_node_selections();
                    d3.select('p#value1').text("  infection " + d3.format('.1%')(num_to_infect / num_to_select));
                    d3.select('p#value2').text("utilization " + d3.format('.1%')(num_to_select / nodes.length));
                });

            var gSlider = d3
                .select('div#slider')
                .append('svg')
                .attr('id', 'slider_svg')
                .attr('width', 1000)
                .attr('height', 200)
                .append('g')
                .attr('transform', 'translate(30,30)');

            gSlider.call(slider);

        }


        //el.value = state_array;
        return el;
    }

    nodes = [];
    let counter = 1;

    for (var i = 0; i < 10; i++)
        for (var j = 0; j < 10; j++)
            //width = 1.0 / 10
            //console.log("here")
            //height = 1.0 / 10
            //x = width * j
            //y = height * i

            nodes.push({
                x: 10,
                y: 10,
                id: counter
            })

            // counter++

    //console.log(nodes);

    var image = new Image();
    image.src = "/static/assets/images/room_maps/Earth Sciences_162.PNG";
    var image_width = image.width;
    var image_height = image.height;

    //var image_width = document.getElementsByClassName("image_container")[0].clientWidth;
    //var image_height = document.getElementsByClassName("image_container")[0].clientHeight;

    
    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    //usage:
    readTextFile("/static/assets/json/seat_positions/Earth Sciences_162.json", function(text){
        positions = JSON.parse(text);
        //console.log(positions);
        grid = grid({
            width: image_width,
            height: image_height,
            num_states: 3, 
            size: 15,
            nodes: positions,
            n_default : positions.length / 2
        });
    });

    

</script>