<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/4.0.0/panzoom.min.js"></script>


<!-- Style Sheet -->
<style>
    div#container {
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      position:absolute;
    }

    svg {
      cursor:pointer;
    }

    rect.checked {
      fill:#48EA8B;
    }

    div.parent {
        width: 500px;
        height: 400px;
        background-color: #C0C0C0;
        position: absolute;
    }

    div.panzoom {
        width: 500px;
        height: 400px;
        position: relative;
        /*display: grid;*/
    }

    div.grid, img {
        width: 100%;
        height: 100%;
        /*grid-area: 1 / 1;*/
        position: absolute;
    }

    div.grid {
        z-index: 1;
        top: 0px;
        left: 0px;
    }

    .link {
      stroke: #000;
      stroke-width: 0.5px;
    }

    .node {
      cursor: move;
      fill: #ccc;
      stroke: #000;
      stroke-width: 0.5px;
    }

    .node.fixed {
      fill: #f00;
    }

    div.body {
        transform: scale(0.5);
    }

</style>

<!-- Create a div where the graph will take place -->

<body>

    <div class="grid" id="grid"></div>
    <!-- <img src="/static/assets/images/room_maps/ENC_170.PNG"> -->
</body>


<script>

    function grid (config) {
        
        // defaults
        config = Object.assign({size:15, numStates:2, x_margin:2, y_margin:2, outline:'#000'}, config);  
        let {nx, ny, size, numStates, init, x_margin, y_margin, colorArray, outline, node_positions, width, height} = config;
        
        if (colorArray === undefined)
            colorArray = Array.from({length:numStates}, (d,i) => i === 0 ? '#FFF' : 
                                                            (i === 1 ? '#000' : d3.schemeSet3[(i-2) % 12]));

        colorArray = ['#FFF', '#6A5ACD', '#FF0000'];

        // Array of values, start out all 0 if init not defined
        const state = init ? init.map(d => d.slice()) : Array.from({length:ny}, d => Array(nx).fill(0));
        //const state_array = [0, 0, 0, 0, 0];
        const state_array = new Array(node_positions.length).fill(0);

        // append the svg object to the body of the page
        const svg = d3.select("#grid").append("svg");
        const grid_area = d3.select("#grid");

        svg
            .attr("width", width)
            .attr("height", height)
            .attr("style", 'background-color:gray');        

        const el = svg.node();

        const grid = svg.append("g")
                .attr("cursor", "pointer")
            .selectAll("rect")
            .data(node_positions)
            .join("circle")
                .on("click", gridClick)
                .on("mouseover", hoverOver)
                .on("mouseout", hoverOff)
                .attr("cx", d => d.x * width)
                .attr("cy", d => d.y * height)
                .attr("fill", "#FFF")
                .attr("stroke", outline)
                .attr("r", size)

        function hoverOver({x, y, id}) {
            d3.select(this).style('stroke-width', '5');
        }

        function hoverOff({x, y, id}) {
            d3.select(this).style('stroke-width', '1');
        }

        function gridClick({x, y, id}) {
            console.log(id);
            state_array[id - 1] = (state_array[id - 1] + 1) % numStates;
            this.style.fill = colorArray[state_array[id - 1]];
            el.dispatchEvent(new CustomEvent('input'));
            //console.log(state_array)
            //console.log(node_positions)

            selected_nodes = []
            for (let i = 0; i < node_positions.length; i++)
                if (state_array[i])
                    selected_nodes.push({
                        x: node_positions[i].x,
                        y: node_positions[i].y,
                        z: null,
                        id: node_positions[i].id,
                        state: state_array[i]
                    });

            console.log(selected_nodes);
            selected_nodes_JSON = JSON.stringify(selected_nodes);
            //console.log(selected_nodes_JSON);

            $.ajax({
                url: "/post_seat_selections/",
                method : "POST",
                dataType : "json",
                data : {'data': selected_nodes_JSON},
            });

        }

        el.value = state;
        return el;
    }

    nodes = [];
    let counter = 1;

    for (var i = 0; i < 10; i++)
        for (var j = 0; j < 10; j++)
            //width = 1.0 / 10
            console.log("here")
            //height = 1.0 / 10
            //x = width * j
            //y = height * i

            nodes.push({
                x: 10,
                y: 10,
                id: counter
            })

            // counter++

    console.log(nodes);


    grid_middle = grid({
        width: 500,
        height: 500,
        numStates: 3, 
        size: 10,
        node_positions:     [

            {x: 0.3200, y: 0.365, id: 1},
            {x: 0.3625, y: 0.365, id: 2},
            {x: 0.4070, y: 0.365, id: 3},
            {x: 0.4525, y: 0.365, id: 4},
            {x: 0.4970, y: 0.365, id: 5},
            {x: 0.5415, y: 0.365, id: 6},
            {x: 0.5850, y: 0.365, id: 7},
            {x: 0.6300, y: 0.365, id: 8},
            {x: 0.6740, y: 0.365, id: 9},
            {x: 0.7180, y: 0.365, id: 10},
            {x: 0.7600, y: 0.365, id: 11},
            {x: 0.8050, y: 0.365, id: 12},

            {x: 0.3200, y: 0.395, id: 13},
            {x: 0.3625, y: 0.395, id: 14},
            {x: 0.4070, y: 0.395, id: 15},
            {x: 0.4525, y: 0.395, id: 16},
            {x: 0.4970, y: 0.395, id: 17},
            {x: 0.5415, y: 0.395, id: 18},
            {x: 0.5850, y: 0.395, id: 19},
            {x: 0.6300, y: 0.395, id: 20},
            {x: 0.6740, y: 0.395, id: 21},
            {x: 0.7180, y: 0.395, id: 22},
            {x: 0.7600, y: 0.395, id: 23},
            {x: 0.8050, y: 0.395, id: 24},

            {x: 0.3200, y: 0.425, id: 26},
            {x: 0.3625, y: 0.425, id: 27},
            {x: 0.4070, y: 0.425, id: 28},
            {x: 0.4525, y: 0.425, id: 29},
            {x: 0.4970, y: 0.425, id: 30},
            {x: 0.5415, y: 0.425, id: 31},
            {x: 0.5850, y: 0.425, id: 32},
            {x: 0.6300, y: 0.425, id: 33},
            {x: 0.6740, y: 0.425, id: 34},
            {x: 0.7180, y: 0.425, id: 35},
            {x: 0.7600, y: 0.425, id: 36},
            {x: 0.8050, y: 0.425, id: 37},

            {x: 0.3200, y: 0.453, id: 1},
            {x: 0.3625, y: 0.453, id: 2},
            {x: 0.4070, y: 0.453, id: 3},
            {x: 0.4525, y: 0.453, id: 4},
            {x: 0.4970, y: 0.453, id: 5},
            {x: 0.5415, y: 0.453, id: 6},
            {x: 0.5850, y: 0.453, id: 7},
            {x: 0.6300, y: 0.453, id: 8},
            {x: 0.6740, y: 0.453, id: 9},
            {x: 0.7180, y: 0.453, id: 10},
            {x: 0.7600, y: 0.453, id: 11},
            {x: 0.8050, y: 0.453, id: 12},

            {x: 0.3200, y: 0.481, id: 1},
            {x: 0.3625, y: 0.481, id: 2},
            {x: 0.4070, y: 0.481, id: 3},
            {x: 0.4525, y: 0.481, id: 4},
            {x: 0.4970, y: 0.481, id: 5},
            {x: 0.5415, y: 0.481, id: 6},
            {x: 0.5850, y: 0.481, id: 7},
            {x: 0.6300, y: 0.481, id: 8},
            {x: 0.6740, y: 0.481, id: 9},
            {x: 0.7180, y: 0.481, id: 10},
            {x: 0.7600, y: 0.481, id: 11},
            {x: 0.8050, y: 0.481, id: 12},

            {x: 0.3200, y: 0.510, id: 1},
            {x: 0.3625, y: 0.510, id: 2},
            {x: 0.4070, y: 0.510, id: 3},
            {x: 0.4525, y: 0.510, id: 4},
            {x: 0.4970, y: 0.510, id: 5},
            {x: 0.5415, y: 0.510, id: 6},
            {x: 0.5850, y: 0.510, id: 7},
            {x: 0.6300, y: 0.510, id: 8},
            {x: 0.6740, y: 0.510, id: 9},
            {x: 0.7180, y: 0.510, id: 10},
            {x: 0.7600, y: 0.510, id: 11},
            {x: 0.8050, y: 0.510, id: 12},

            {x: 0.3200, y: 0.537, id: 1},
            {x: 0.3625, y: 0.537, id: 2},
            {x: 0.4070, y: 0.537, id: 3},
            {x: 0.4525, y: 0.537, id: 4},
            {x: 0.4970, y: 0.537, id: 5},
            {x: 0.5415, y: 0.537, id: 6},
            {x: 0.5850, y: 0.537, id: 7},
            {x: 0.6300, y: 0.537, id: 8},
            {x: 0.6740, y: 0.537, id: 9},
            {x: 0.7180, y: 0.537, id: 10},
            {x: 0.7600, y: 0.537, id: 11},
            {x: 0.8050, y: 0.537, id: 12},

            {x: 0.3200, y: 0.565, id: 1},
            {x: 0.3625, y: 0.565, id: 2},
            {x: 0.4070, y: 0.565, id: 3},
            {x: 0.4525, y: 0.565, id: 4},
            {x: 0.4970, y: 0.565, id: 5},
            {x: 0.5415, y: 0.565, id: 6},
            {x: 0.5850, y: 0.565, id: 7},
            {x: 0.6300, y: 0.565, id: 8},
            {x: 0.6740, y: 0.565, id: 9},
            {x: 0.7180, y: 0.565, id: 10},
            {x: 0.7600, y: 0.565, id: 11},
            {x: 0.8050, y: 0.565, id: 12},

            {x: 0.3200, y: 0.593, id: 1},
            {x: 0.3625, y: 0.593, id: 2},
            {x: 0.4070, y: 0.593, id: 3},
            {x: 0.4525, y: 0.593, id: 4},
            {x: 0.4970, y: 0.593, id: 5},
            {x: 0.5415, y: 0.593, id: 6},
            {x: 0.5850, y: 0.593, id: 7},
            {x: 0.6300, y: 0.593, id: 8},
            {x: 0.6740, y: 0.593, id: 9},
            {x: 0.7180, y: 0.593, id: 10},
            {x: 0.7600, y: 0.593, id: 11},
            {x: 0.8050, y: 0.593, id: 12},

            {x: 0.3200, y: 0.623, id: 1},
            {x: 0.3625, y: 0.623, id: 2},
            {x: 0.4070, y: 0.623, id: 3},
            {x: 0.4525, y: 0.623, id: 4},
            {x: 0.4970, y: 0.623, id: 5},
            {x: 0.5415, y: 0.623, id: 6},
            {x: 0.5850, y: 0.623, id: 7},
            {x: 0.6300, y: 0.623, id: 8},
            {x: 0.6740, y: 0.623, id: 9},
            {x: 0.7180, y: 0.623, id: 10},
            {x: 0.7600, y: 0.623, id: 11},
            {x: 0.8050, y: 0.623, id: 12},

            {x: 0.3200, y: 0.650, id: 1},
            {x: 0.3625, y: 0.650, id: 2},
            {x: 0.4070, y: 0.650, id: 3},
            {x: 0.4525, y: 0.650, id: 4},
            {x: 0.4970, y: 0.650, id: 5},
            {x: 0.5415, y: 0.650, id: 6},
            {x: 0.5850, y: 0.650, id: 7},
            {x: 0.6300, y: 0.650, id: 8},
            {x: 0.6740, y: 0.650, id: 9},
            {x: 0.7180, y: 0.650, id: 10},
            {x: 0.7600, y: 0.650, id: 11},
            {x: 0.8050, y: 0.650, id: 12},

            {x: 0.3200, y: 0.678, id: 133},
            {x: 0.3625, y: 0.678, id: 134},
            {x: 0.4070, y: 0.678, id: 135},
            {x: 0.4525, y: 0.678, id: 136},
            {x: 0.4970, y: 0.678, id: 137},
            {x: 0.5415, y: 0.678, id: 138},
            {x: 0.5850, y: 0.678, id: 139},
            {x: 0.6300, y: 0.678, id: 140},
            {x: 0.6740, y: 0.678, id: 141},
            {x: 0.7180, y: 0.678, id: 142},
            {x: 0.7600, y: 0.678, id: 143},
            {x: 0.8050, y: 0.678, id: 144},

            {x: 0.3200, y: 0.705, id: 145},
            {x: 0.3625, y: 0.705, id: 146},
            {x: 0.4070, y: 0.705, id: 147},
            {x: 0.4525, y: 0.705, id: 148},
            {x: 0.4970, y: 0.705, id: 149},
            {x: 0.5415, y: 0.705, id: 150},
            {x: 0.5850, y: 0.705, id: 151},
            {x: 0.6300, y: 0.705, id: 152},
            {x: 0.6740, y: 0.705, id: 153},
            {x: 0.7180, y: 0.705, id: 154},
            {x: 0.7600, y: 0.705, id: 155},
            {x: 0.8050, y: 0.705, id: 156},



        ]

    });


</script>