{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .wrapper {
        position: relative;
        width: 700px;
        height: 550px;
    }
    .wrapper canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    .seat_selection_container {
        position: relative;
        max-width: 100%;
    }

    .image_container {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    svg {
        width: 100%;
    }

    #grid {
        position: absolute;
        top: 0;
        right : 0;
        width: 100%;
    }

</style>
{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <!-- <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard Analytics</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- seat-selection start -->
                <div class="col-lg-5">
                    <div class="card">                        
                        <div class="card-header">
                            <h5>Seat Selection</h5>
                            <div class="card-header-right">
                                <div id='visibility_toggle_button'>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.604 92.604" height="40" width="40" id='radio-btn'>
                                        <g transform="translate(0 -204.396)">
                                            <rect id='visibility_toggle_button_container' ry="15.875" y="234.823" x="12.662" height="31.75" width="67.28" fill="#ff4651" paint-order="markers fill stroke"/>
                                            <ellipse id='visibility_toggle_button_disk' rx="9.028" ry="9.028" cy="250.865" cx="28.911" fill="none" stroke="#fff" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round" paint-order="markers fill stroke"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <!-- <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                            <!-- <img class="card-img-top" src="/static/assets/images/room_maps/Engineering Block C_170.PNG"> -->
                            <div class="card-body">

                               <!--  <div class="image_container">
                                    <img src="/static/assets/images/room_maps/Engineering Block C_170.PNG">
                                </div> -->
                                <div class="seat_selection_container" id="seat_selection_container">
                                    <div class="image_container">
                                        <img src="/static/assets/images/room_maps/Engineering Block C_170.png">
                                    </div>
                                    <div class="grid" id="grid"></div>
                                </div>
                                <div class="row justify-content-center card-option">
                                    <button type="button" class="btn btn-icon btn-outline-primary border-0 reload-card" id='reset_button'>
                                        <i class="feather icon-refresh-ccw"></i></a>
                                    </button>
                                    <button type="button" class="btn  btn-icon btn-outline-secondary border-0">
                                        <i class="feather icon-grid"></i>
                                    </button>
                                    <button type="button" class="btn  btn-icon btn-outline-success border-0">
                                        <i class="feather icon-square"></i>
                                    </button>
                                    <button type="button" class="btn  btn-icon btn-outline-danger border-0">
                                        <i class="feather icon-hash"></i>
                                    </button>
                                </div>
                                <br>
                                <h5 class="text-black">Max Occupancy<span class="float-right maxOccup"></span></h5>
                                <h5 class="text-black">Max Pandemic Occupancy<span class="float-right maxPanOccup"></span>
                            </div>
                        <!-- seat-selection end -->
                        <!-- infection-parameter start -->
                        <div class="dropdown-divider"></div>
                        <div class="card-header">
                            <h5>Infection Parameters</h5>      
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-5">Personal Protective Equipment</div>
                                <div class="col-sm-7">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <label class="form-check-label" for="gridCheck1">Mask</label>
                                    </div>
                                </div>
                                <div class="col-md-4">Duration (hours)</div>
                                    
                            </div>
                            <div class="d-flex justify-content-left my-4">
                                <form class="range-field w-25">
                                    <input id="duration-slider" class="border-0" type="range" min="0" max="10" />
                                </form>
                                <span class="font-weight-bold indigo-text ml-6 mt-1 valueSpan"></span>
                            </div>
                            <!-- <div class="parent" id="seat_selector_container">
                                <div class="panzoom" id="panzoom_container">
                                    <div class="grid" id="grid"></div>
                                    <img src="/static/assets/images/room_maps/ENC_170.PNG">
                                </div>
                            </div> -->
                            
                        </div>
                        <!-- infection-parameter end -->
                    </div>
                </div>
                <!-- seat-selection end -->
                <!-- heat-map start -->
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-header"><h5>Heat Map</h5></div>
                        <div class="card-body">
                            <div class="parent" id="heatmap_container">
                                <div id="probabilitiesSelect"></div>
                                <div class="wrapper">
                                    <div><canvas id="backgroundCanvas" width="700" height="550"></canvas></div>
                                    <div><canvas id="heatmapCanvas" width="700" height="550" style="opacity:0.5"></canvas></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="card">
                        <div class="card-header"><h5>Heat Map</h5></div>
                        <div class="card-body d-flex flex-column">
                            <div id="heatmap-chart-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/pages/chart-apex.js"></script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>
    <script>
        $(document).ready(function() {
            const $valueSpan = $('.valueSpan');
            const $value = $('#duration-slider');
            $valueSpan.html($value.val());
            $value.on('input change', () => {

                $valueSpan.html($value.val());
            });
        });
    </script>
    <!-- seat-selection js-->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/4.0.0/panzoom.min.js"></script>
    <script src="./static/assets/js/simpleheat.js"></script>
    <script>


    var ROOM_MAP_PATH = "/static/assets/images/room_maps/Engineering Block C_170.png";


    var ROOM_NAME = ROOM_MAP_PATH.split("/");
    ROOM_NAME = ROOM_NAME[ROOM_NAME.length - 1];
    ROOM_NAME = ROOM_NAME.split(".")[0].concat(".json");
    console.log(ROOM_NAME);
    var POSITIONS_PATH = "/static/assets/json/seat_positions/";

    var SEAT_POSITIONS_PATH = POSITIONS_PATH.concat(ROOM_NAME);
    console.log(SEAT_POSITIONS_PATH);

    //Heatmap
    //Heatmap Data
    //Get request to the database
    $(document).ready(function() {
        var $probabilitiesvar = $("#probabilitiesSelect");
        $probabilitiesvar.change(function() {
            data = {'user_id': "1", 'room_id': "1"};
            $.ajax({
                type: "GET",
                url: '/get_probabilities/',
                data: data,
                success: function(result) {

                },
            });
        });
    });

    //Fake Probabilities data
    var heatmapData = [];
    for (var i = 0; i < 550; i++){
        var temp = [];
        for (var j = 0; j < 700; j++){
            temp.push(Math.floor(Math.random() * 101));
        }
        heatmapData.push(temp);
    }

    //Heatmap Background Image
    var canvas = document.getElementById("backgroundCanvas");
    var ctx = canvas.getContext("2d");
    var background = new Image();
    background.src = ROOM_MAP_PATH;
    // Make sure the image is loaded first otherwise nothing will draw.
    background.onload = function(){
        ctx.drawImage(background, 0, 0, 700, 550);
    }

    // Heatmap figure
    sampleData = [];
    for (var i = 0; i < 700; i+=20){
        for (var j = 0; j < 550; j+=20){
            temp = [i, j, heatmapData[j][i]/100];
            sampleData.push(temp);
        }
    }
    function get(id) {
        return document.getElementById(id);
    }

    var heat = simpleheat('heatmapCanvas').data(sampleData).max(1),
        frame;

    function draw() {
        heat.draw();
        frame = null;
    }
    draw();

    // seat selection 
    function grid (config) {
        
        // defaults
        config = Object.assign({size:15, numStates:2, x_margin:2, y_margin:2, outline:'#000'}, config);  
        let {nx, ny, size, numStates, init, x_margin, y_margin, colorArray, outline, node_positions, width, height} = config;
        
        if (colorArray === undefined)
            colorArray = Array.from({length:numStates}, (d,i) => i === 0 ? '#FFF' : 
                                                            (i === 1 ? '#FF2323' : d3.schemeSet3[(i-2) % 12]));

        // Array of values, start out all 0 if init not defined
        const state = init ? init.map(d => d.slice()) : Array.from({length:ny}, d => Array(nx).fill(0));
        //const state_array = [0, 0, 0, 0, 0];
        const state_array = new Array(node_positions.length).fill(0);

        // append the svg object to the body of the page
        const svg = d3.select("#grid").append("svg");
        const grid_area = d3.select("#grid");

        svg
            .attr("width", width)
            .attr("height", height);
            //.attr("style", 'background-color:gray');        

        const el = svg.node();

        const grid = svg.append("g")
                .attr("cursor", "pointer")
            .selectAll("rect")
            .data(node_positions)
            .join("circle")
                .on("click", gridClick)
                .on("mouseover", hoverOver)
                .on("mouseout", hoverOff)
                .attr("cx", d => d.x * width)
                .attr("cy", d => d.y * height)
                .attr("fill", "#FFF")
                .attr("stroke", outline)
                .attr("r", size)

        function hoverOver({x, y, id}) {
            d3.select(this).style('stroke-width', '5');
        }

        function hoverOff({x, y, id}) {
            d3.select(this).style('stroke-width', '1');
        }

        function gridClick({x, y, id}) {
            console.log(id);
            state_array[id - 1] = (state_array[id - 1] + 1) % numStates;
            this.style.fill = colorArray[state_array[id - 1]];
            el.dispatchEvent(new CustomEvent('input'));
            //console.log(state_array)
            //console.log(node_positions)

            selected_nodes = []
            for (let i = 0; i < node_positions.length; i++)
                if (state_array[i])
                    selected_nodes.push({
                        x: node_positions[i].x,
                        y: node_positions[i].y,
                        id: node_positions[i].id,
                        state: state_array[i],
                        attRate: 0.05,
                    });

            console.log(selected_nodes);
            selected_nodes_JSON = JSON.stringify(selected_nodes);
            //console.log(selected_nodes_JSON);

            $.ajax({
                url: "/post_seat_selections/",
                method : "POST",
                dataType : "json",
                data : {'data': selected_nodes_JSON},
            });

        }

        el.value = state;
        return el;
    }

    var image = new Image();
    image.src = ROOM_MAP_PATH;
    //var image_width = image.width;
    //var image_height = image.height;
    var image_width = document.getElementsByClassName("image_container")[0].clientWidth;
    var image_height = document.getElementsByClassName("image_container")[0].clientHeight;
    
    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    readTextFile(SEAT_POSITIONS_PATH, function(text){
        positions = JSON.parse(text);
        console.log(positions);
        grid = grid({
            width: image_width,
            height: image_height,
            numStates: 3, 
            size: 8,
            node_positions: positions

        });
    });

    </script>

{% endblock javascripts %}
