{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #overlay {
        position: relative;
        max-width: 100%;
        pointer-events: none;
        background: #555 !important;
        z-index: 10;
        
    }

    .wrapper {
        position: relative;
        width: 700px;
        height: 550px;
    }
    .wrapper canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .seat_selection_container {
        position: relative;
        max-width: 100%;
    }

    .heatmap_container {
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    #legend_container {
        float: right;
    }

    #legend {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 72px 0px 0px 730px;
    }

    #heatmapCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .image_container {
        max-width: 100%;
    }

    .v-divider {
        margin-left:5px;
        margin-right:5px;
        width:1px;
        height:100%;
        border-left:1px solid gray;
    }

    img {
        max-width: 100%;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    #grid {
        position: absolute;
        top: 0;
        right : 0;
        width: 100%;
    }

    #heatmapid {
        position: relative;
        width: 100%;
        padding-top: 100%;
    }

    .legend {
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 8px;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

</style>
{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- seat-selection start -->
                <div class="col-lg-5">
                    <div class="card">                        
                        <div class="card-header">
                            <h5>Seat Selection</h5>
                            <div class="card-header-right">
                                <button type="button" class="btn btn-warning agents_legend" data-container="body" data-toggle="popover" data-placement="right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                            <!-- <img class="card-img-top" src="/static/assets/images/room_maps/Engineering Block C_170.PNG"> -->
                            <div class="card-body">

                                <!-- <div class="image_container" id="background_container">
                                    <img src="/static/assets/images/room_maps/Room_Select.png">
                                </div> -->
                                
                                <div class="seat_selection_container" id="seat_selection_container">
                                    <div class="image_container" id="seat_selection_floorplan">
                                        <!-- <img src="/static/assets/images/room_maps/Engineering Block C_170.png" id="floorplan"> -->
                                        <img src="/static/assets/images/room_maps/Earth Sciences_162.svg" id="floorplan">
                                    </div>
                                    <div class="grid" id="grid"></div>
                                    <br>
                                    <div class="row justify-content-center">
                                        <!-- <span style="display:block;float:left;width:400x;" id="num_infected">Agents Infected</span>
                                        <span style="display:block;float:right" id="num_normal">Agents Selected</span> -->
                                        <div id="agent_slider"></div>
                                    </div>
                                    <div class="col-sm"><div id="agent_slider"></div></div>
                                </div>
                                <!-- <br> -->
                                <div class="row justify-content-center card-option">
                                    <button type="button" class="btn btn-icon btn-outline-primary border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset selections" id='reset_button'>
                                        <i class="feather icon-refresh-ccw"></i></a>
                                    </button>
                                    <!-- <button type="button" class="btn  btn-icon btn-outline-secondary border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Disabled button">
                                        <i class="feather icon-grid"></i>
                                    </button>
                                    <button type="button" class="btn  btn-icon btn-outline-success border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Disabled button">
                                        <i class="feather icon-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-outline-danger border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Disabled button">
                                        <i class="feather icon-hash"></i>
                                    </button> -->
                                </div>
                                <br>
                                <h5 class="text-black">Max Occupancy<span class="float-right maxOccup"></span></h5>
                                <h5 class="text-black">Max Pandemic Occupancy<span class="float-right maxPanOccup"></span>
                            </div>
                        <!-- seat-selection end -->
                        <!-- infection-parameter start -->
                        <div class="dropdown-divider"></div>
                        <div class="card-header">
                            <h4>Infection Parameters</h4>      
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Personal Protective Equipment (Mask)</b></p>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ppe" id="n95Mask" value="N95">
                                        <label class="form-check-label" for="n95Mask">N95</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ppe" id="surgicalMask" value="Surgical">
                                        <label class="form-check-label" for="surgicalMask">Surgical</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ppe" id="clothMask" value="Cloth">
                                        <label class="form-check-label" for="clothMask">Cloth</label>
                                    </div>
                                </div>
                                <div class="col v-divider">
                                    <p><b>Duration</b></p>
                                    <input data-suffix="Minutes" class="form-control-sm" type="number" id="duration" value="0" min="0" max="180" step="5"/>
                                </div>
                            </div>                            
                        </div>
                        <div class="card-footer d-flex">
                            <button type="button" class="btn btn-success mx-auto generate" id="GenerateHeatmap">Generate Heatmap</button>
                            <!-- <button type="button" id="GenerateHeatmap" class="btn btn-primary mx-auto">Generate Heatmap</button> -->
                        </div>
                        <!-- infection-parameter end -->
                    </div>
                </div>
                <!-- seat-selection end -->
                <!-- heat-map start -->
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-header"><h5>Heat Map</h5></div>
                        <div class="card-body">
                            <div class="row" id="heatmap_container">
                                <div class="col">
                                    <div id="heatmapid"></div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="card-body">
                                <h4>Alberta Health Services Guidelines</h4>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pills-covid-tab" data-toggle="pill" href="#pills-covid" role="tab" aria-controls="pills-covid" aria-selected="true">COVID-19</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-virus2-tab" data-toggle="pill" href="#pills-virus2" role="tab" aria-controls="pills-virus2" aria-selected="false">Virus2</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-virus3-tab" data-toggle="pill" href="#pills-virus3" role="tab" aria-controls="pills-virus3" aria-selected="false">Virus3</a>
                                    </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-covid" role="tabpanel" aria-labelledby="pills-covid-tab">
                                        <li>Stay 2 metres apart from others</li>
                                        <li>Wear a mask in public spaces, indoor workplaces and places of worship</li>
                                        <br>
                                        <p>Referenced from AHS<a href="https://www.alberta.ca/enhanced-public-health-measures.aspx#PathForward"> website</a></p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-virus2" role="tabpanel" aria-labelledby="pills-virus2-tab">...</div>
                                    <div class="tab-pane fade" id="pills-virus3" role="tabpanel" aria-labelledby="pills-virus3-tab">...</div>
                                    </div>    
                            </div>
                        </div>
                    </div> 
                </div>
                <!-- temporal graph start -->
                <div class="col">
                    <div class="card">
                        <div class="card-header"><h5>Temporal Graph</h5></div>
                        <div class="card-body d-flex flex-column">
                            <div id="temporal1"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script> -->

    <!-- infection-parameter js -->
    <script src="./static/assets/js/bootstrap-input-spinner.js"></script>
    <script>
        $("input[type='number']").inputSpinner();
    </script>

    <!-- Transitions -->
    <script src="/static/assets/js/plugins/jquery.blockUI.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('div.seat_selection_container').block({
                message: '<h4>Please select a room from sidebar</h4>',
                css: {
                    width: '80%',
                    cursor: 'not-allowed'
                },
                overlayCSS: {
                    opacity: 0.8,
                    cursor: 'not-allowed'
                }
        });

        $('#heatmap_container').block({
            message: '<h3>Please select a room from sidebar</h3>',
            css: {
                width: '80%',
                cursor: 'not-allowed'
            },
            overlayCSS: {
                opacity: 0.8,
                cursor: 'not-allowed'
            }
        });     
    });
    </script>

    <!-- Seat selection info popover -->
    <script>
    $('.agents_legend').popover({
        html: true,
        container: 'body',
        title: 'Agents Legend',
        content: function() {
            var $el = $('<div id="agents_legend_body"></div>');
            //Create the SVG child (can be created more-dynamically).
            $el.append('<svg xmlns="http://www.w3.org/2000/svg" width="467" height="462" viewBox="0 0 467 462" style="display: block; width: 100%; height: 100%;">' + 
                '<circle cx="100" cy="100" r="50" stroke="black" stroke-width="3" fill="rgb(255,255,255)"></circle>' +
                '<text text-anchor="end" x="350" y="100" font-size="xx-large">Empty seat</text>' + 
                '<circle cx="100" cy="230" r="50" stroke="black" stroke-width="3" fill="rgb(141,211,199)"></circle>' +
                '<text text-anchor="end" x="390" y="230" font-size="xx-large">Normal agent</text>' +
                '<circle cx="100" cy="360" r="50" stroke="black" stroke-width="3" fill="rgb(255,35,35)"></circle>' +
                '<text text-anchor="end" x="405" y="360" font-size="xx-large">Infected agent</text>' + 
                '</svg>' +
                '<p style="font-size:125%;">Clicking a seat cycles through each state starting from an empty seat, to normal agent, then finally infected agent.</p>' +
                '<p style="font-size:125%;">For example, if a normal agent is seated, one click will transition to infected agent, two clicks will transition to empty.</p>'
                );
            return $el;
        },
    });
    </script>

    <!-- seat-selection js-->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/4.0.0/panzoom.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="./static/assets/js/simpleheat.js"></script>
    

    <script>
    $.noConflict();

    // ############################# GLOBAL PARAMETERS #############################

    // define base paths for image and JSON data
    var ROOM_MAP_ROOT = "/static/assets/images/room_maps/";
    var SEAT_POSITIONS_ROOT = "/static/assets/json/seat_positions/";

    // define image file type to use
    var IMAGE_TYPE = ".svg";
    // define default room to load on startup
    var DEFAULT_BUILDING = "Earth Sciences";
    var DEFAULT_ROOM = "162";
    
    // define index values mapping to different state colours
    var WHITE = 0, GRAY = 1, RED = 2;

    // ############################# UTILITY FUNCTIONS #############################

    // utility function to randomize ordering of array elements
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }

        return array;
    }

    // utility function to read JSON file contents
    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    // ############################# UTILITY FUNCTIONS #############################

    function draw_grid (config) {

        var image_width = document.getElementsByClassName("image_container")[0].clientWidth;
        var image_height = document.getElementsByClassName("image_container")[0].clientHeight;
        
        // defaults
        config = Object.assign({size:15, num_states:2, x_margin:2, y_margin:2, outline:'#000'}, config);  
        let {nx, ny, size, num_states, init, x_margin, y_margin, colour_array, outline, nodes, n_default, width, height, x_scale, y_scale} = config;
        
        if (colour_array === undefined)
            colour_array = Array.from({length:num_states}, (d,i) => i === 0 ? '#FFF' : 
                                                            (i === 1 ? d3.schemeSet3[0] : '#FF2323'));

        // randomize ordering of array elements
        nodes = shuffle(nodes);
        var node_IDs = [];
        var selected_nodes = [];

        console.log(x_scale);
        console.log(y_scale);

        // create a dictionary to maintain list of nodes by ID
        var node_map = {};
        for (let i = 0; i < nodes.length; i++) {
            if (i < n_default) {
                nodes[i].state = 1;
                nodes[i].colour = colour_array[GRAY];
                nodes[i].x_scale = x_scale;
                nodes[i].y_scale = y_scale;
                //console.log(nodes[i]);
            } else {
                nodes[i].state = 0;
                nodes[i].colour = colour_array[WHITE];
                nodes[i].x_scale = x_scale;
                nodes[i].y_scale = y_scale;
            }
            id = String(nodes[i].id);
            node_map[id] = nodes[i];
            node_IDs.push(id);
        }

        // append the svg object to the body of the page
        const svg = d3.select("#grid").append("svg");

        svg
            .attr("width", width)
            .attr("height", height)
            .attr("id", "grid_svg")
            .attr("viewBox", `0 0 ${image_width} ${image_height}`);
            //.attr("style", 'background-color:gray');        

        const el = svg.node();
        const grid = svg.append("g")
                .attr("cursor", "pointer")
            .selectAll("rect")
            .data(nodes)
            .join("circle")
                .on("click", gridClick)
                .on("mouseover", hoverOver)
                .on("mouseout", hoverOff)
                .attr("cx", d => d.x * width)
                .attr("cy", d => d.y * height)
                .attr("id", d => "node_" + d.id)
                .attr("fill", d => d.colour)
                .attr("stroke", outline)
                .attr("r", size)

        // initialize slider to default values
        make_slider([0, n_default]);

        // POST initial node selections
        var values = post_node_selections();
        // heatmapData(values);

        // ################## POST function for node selections ##################
        function post_node_selections() {
            // loop through all list to determine which have a non-zero state
            selected_nodes = [];
            var count = 0;
            for (node_ID in node_map) {
                var node = node_map[node_ID];
                if (node.state != 0) {
                    node.attRate = 0.05;
                    selected_nodes.push(node);
                }
                if (node.state === 2) {
                    count++;
                }
            }
            // JSON-ify the selected node data
            selected_nodes_JSON = JSON.stringify(selected_nodes);
            // POST JSON-ified node data
            $.ajax({
             url: "/post_seat_selections/",
                method : "POST",
                dataType : "json",
                data : { 'data': selected_nodes_JSON },
            });
            return [count, selected_nodes.length, selected_nodes_JSON];
        }

        // ################## slider creation & utility functions ##################
        function make_slider(default_value) {
            // define slider settings
            var slider = d3
                .sliderBottom()
                .min(0)
                .max(nodes.length)
                .width(0.7 * image_width)
                .ticks(nodes.length / 20)
                .step(1)
                .tickFormat(d3.format(""))
                .default(default_value)
                .fill('#2196f3')
                .handle(
                  d3
                    .symbol()
                    .type(d3.symbolCircle)
                    .size(300)()
                )
                .on('onchange', val => {
                    var num_to_infect = val[0];
                    var num_to_select = val[1];
                    var selected = select_n_nodes(num_to_select);
                    select_n_infected(num_to_infect, selected);
                    //var values = post_node_selections();
                    //heatmapData(values);
                })
                .on('end', val => {
                    var values = post_node_selections();
                    globalSeatPositions = values;
                    drawHeatMap(values);

                    $("#duration").on("change", function (event) {
                        drawHeatMap(values);
                    })

                    $("input[name='ppe']").on("change", function (event) {
                        drawHeatMap(values);
                    })
                });

            var gSlider = d3
                .select('div#agent_slider')
                .append('svg')
                .attr('id', 'slider_svg')
                .attr('width', 0.8 * image_width)
                .attr('height', 0.2 * image_height)
                .attr("viewBox", `0 0 ${0.8 * image_width} ${0.2 * image_height}`)
                .append('g')
                .attr('transform', 'translate(10,15)');

            gSlider.call(slider);
        }

        function select_n_nodes(num) {
            selected = [];
            for (let i = 0; i < nodes.length; i++) {
                var id = node_IDs[i];
                // update internal node states
                if (i < num) {
                    if (node_map[id].state === 0) {
                        node_map[id].state = 1;
                        node_map[id].colour = colour_array[GRAY];
                    }
                    selected.push(id);
                } else {
                    if (node_map[id].state != 0) {
                        node_map[id].state = 0;
                        node_map[id].colour = colour_array[WHITE];
                    }
                }
                // update node colours
                var node_tag = "#node_" + String(id);
                svg.select(node_tag).style('fill', node_map[id].colour);
                el.dispatchEvent(new CustomEvent('input'));
            }
            return selected;
        }

        function select_n_infected(num_to_infect, selected) {
            selected = shuffle(selected);
            for (let i = 0; i < selected.length; i++) {
                var id = selected[i];
                // update internal node states
                if (i < num_to_infect) {
                    if (node_map[id].state === 1) {
                        node_map[id].state = 2;
                        node_map[id].colour = colour_array[RED];
                    }
                } else {
                    node_map[id].state = 1;
                    node_map[id].colour = colour_array[GRAY];
                }
                // update node colours
                var node_tag = "#node_" + String(id);
                svg.select(node_tag).style('fill', node_map[id].colour);
                el.dispatchEvent(new CustomEvent('input'));
            }
        }

        // ################## manual selection call-back functions ##################

        function hoverOver({x, y, id}) {
            d3.select(this).style('stroke-width', '5');
        }

        function hoverOff({x, y, id}) {
            d3.select(this).style('stroke-width', '1');
        }

        function gridClick({x, y, id}) {
            // update node state & fill colour
            node_map[id].state = (node_map[id].state + 1) % num_states;
            node_map[id].colour = colour_array[node_map[id].state];
            this.style.fill = node_map[id].colour;
            el.dispatchEvent(new CustomEvent('input'));
            // POST node selections
            var values = post_node_selections();
            globalSeatPositions = values;
            // delete and remake slider with updated values
            d3.select('#slider_svg').remove();
            make_slider(values.slice(0,1));          
            drawHeatMap(values);
            
            $("#duration").on("change", function (event) {
                drawHeatMap(values);
            })

            $("input[name='ppe']").on("change", function (event) {
                drawHeatMap(values);
            })
        }

        return el;
    }

    // ####################### PAGE INITIALIZATION & UPDATE ########################
    // update room selection
    function update_room_selection(building_name, room_name){

        // target data for selected map
        var image_path = ROOM_MAP_ROOT.concat(building_name, "_", room_name, IMAGE_TYPE)
        var seat_positions_path = SEAT_POSITIONS_ROOT.concat(building_name, "_", room_name, "_v2.json")

        // update backgrounds for both seat selection interface and heatmap
        var image = new Image();
        image.onload = function() {

            // get dimensions of newly loaded map
            var image_width = document.getElementsByClassName("image_container")[0].clientWidth;
            var image_height = document.getElementsByClassName("image_container")[0].clientHeight;

            // update (remove and re-draw) seat selection interface
            d3.select('#grid').html("");
            d3.select('#agent_slider').html("");
            readTextFile(seat_positions_path, function(text){
                data = JSON.parse(text);
                //console.log(data);
                //console.log(data['SEATS']);
                grid = draw_grid({
                    width: image_width,
                    height: image_height,
                    size: 8,
                    num_states: 3, 
                    nodes: data['SEATS'],
                    n_default : data['SEATS'].length / 2,
                    x_scale: data['X_SCALE'],
                    y_scale: data['Y_SCALE']
                });
            });
        };
        image.onerror = function() {
            d3.select('#grid').html("");
            d3.select('#agent_slider').html("");
            var pageURL = $(location).attr("href");
            window.location.href = pageURL.split('/')[0] + 'page-404.html';
            // alert('error loading');
        };

        image.src = image_path;
        $("#floorplan").attr("src", image_path);
        $("#heatmap_floorplan").attr("src", image_path);
    }

    // initialize seat selection interface
    update_room_selection(DEFAULT_BUILDING, DEFAULT_ROOM);

    // ################## Leaflet Heatmap and Legend ##################
    var imgURL = decodeURI(document.getElementById("floorplan").src);
    var h = document.getElementsByClassName("image_container")[0].clientHeight;
    var w = document.getElementsByClassName("image_container")[0].clientWidth;

    // Heatmap bounding box with zoom utilities
    const map = L.map('heatmapid', {
        zoomSnap: 0.1,
        minZoom: 3,
        maxZoom: 4,
        center: [0, 0],
        zoom: 3,
        crs: L.CRS.Simple
    });

    var southWest = map.unproject([0, h], map.getMaxZoom()-1);
    var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
    var bounds = new L.LatLngBounds(southWest, northEast);

    console.log(w, h);

    var hmap = L.imageOverlay(imgURL, bounds).addTo(map);
    map.setMaxBounds(bounds);

    L.control.Legend({
        title: " ",
        position: "bottomright",
        opacity: 0.75,
        legends: [
            {
                label: " 0.0 - 0.4",
                type: "circle",
                radius: 6,
                fillColor: "blue",
            },
            {
                label: " 0.4 - 0.6",
                type: "circle",
                radius: 6,
                fillColor: "cyan",
            },
            {
                label: " 0.6 - 0.7",
                type: "circle",
                radius: 6,
                fillColor: "lime",
            },
            {
                label: " 0.7 - 0.8",
                type: "circle",
                radius: 6,
                fillColor: "yellow",
            },
            {
                label: " 0.8 - 1.0",
                type: "circle",
                radius: 6,
                fillColor: "red",
            }
    ]
    }).addTo(map);

    var heatLayer = L.heatLayer({radius: 20, blur: 50, minOpacity: 0.5, maxZoom: 3}).addTo(map);

    // loop through outputted points and convert to lat, lng
    function drawHeatMap(points) {
        var duration = $("#duration").val();
        var maskType = $("input[name='ppe']:checked").val();
        console.log(maskType);
        var finalResult = [];

        console.log(duration);

        $.ajax({
            type: "POST",
            url: "/post_attack_rates/",
            data: {'seat_selections': points[2], 'mask_type': maskType, 'duration': duration},
            success: function(result) {
                resultArray = [result.attack_rates];
                var coords = [];

                for(var i = 0; i < resultArray.length; i++)
                {
                    finalResult = finalResult.concat(resultArray[i]);
                }

                for (var i = 0; i < finalResult.length; i++){
                    finalResult[i][0] = finalResult[i][0]*w;
                    finalResult[i][1] = finalResult[i][1]*h;
                    coords[i] = map.unproject(finalResult[i].slice(0,2));
                }

                for (var i = 0; i < finalResult.length; i++){
                    finalResult[i][0] = coords[i].lat;
                    finalResult[i][1] = coords[i].lng;
                }
            },
        });

        $('.generate').click(function() {
            var _this = $(this);
            var existingHTML = _this.html();
            $(_this).html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Generating...').prop('disabled', true);
            setTimeout(function() {
                console.log(finalResult);
                $(_this).html('Generate Heatmap').prop('disabled', false);
                heatLayer.setLatLngs(finalResult);
            }, 500)
        });
    }

    // ################## Temporal Graph and Duration-related functions ##################
    // Default temporal graph series and settings
    var options = {
        series: [{
            name: "Attack Rate Increase",
            data: []
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                show: true,
                offsetX: 0,
                offsetY: 0,
                tools: {
                    download: true,
                    selection: true,
                    zoom: true,
                    zoomin: true,
                    zoomout: true,
                    pan: true,
                    customIcons: []
                }
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        title: {
            text: 'Attack Rate Increase as a Function of Time',
            align: 'left'
        },
        xaxis: {
            type: 'numeric',
            categories: [],
            title: {
                text: "Time (mins)"
            }
        },
        yaxis: {
            title: {
                text: "Attack Rate Increase (%)"
            }
        },
        tooltip: {
            enabled: true,
            enabledOnSeries: undefined,
            shared: true,
            followCursor: false,
            intersect: false,
            inverseOrder: false,
            custom: undefined,
            fillSeriesColor: false,
            theme: false,
            style: {
                fontSize: '12px',
                fontFamily: undefined
            },
            onDatasetHover: {
                highlightDataSeries: false,
            },
            x: {
                show: true,
                format: 'dd MMM',
                formatter: undefined,
            },
            y: {
                formatter: undefined,
                title: {
                    formatter: (seriesName) => seriesName,
                },
            },
            z: {
                formatter: undefined,
                title: 'Size: '
            },
            marker: {
                show: true,
            },
            fixed: {
                enabled: false,
                position: 'topRight',
                offsetX: 0,
                offsetY: 0,
            },
        }
    };
    var chart = new ApexCharts(document.querySelector("#temporal1"), options);
    chart.render();

    function drawTemporal(durationVal, chart){
        // Temporal Graph
        temporalXData = [];
        temporalYData = [];
        for(var i = 0; i <= durationVal; i+=5){
            temporalXData = temporalXData.concat(i);
            yVal = (0.0051 * (i * i));
            temporalYData = temporalYData.concat(yVal.toFixed(3));
        }
        // Update series
        chart.updateOptions({
            series: [{
                data: temporalYData
            }],
            xaxis: {
                categories: temporalXData
            }
        })
    }

    var temporalDuration;
    $("#duration").on("change", function (event) {
        temporalDuration = $("#duration").val();
        if (temporalDuration != 0){
            drawTemporal(temporalDuration, chart);
        }
    })

    </script>

{% endblock javascripts %}