{% extends "layouts/base.html" %}

{% block title %} Error 404 {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header text-center">
							<h2>Selected Room Unavailable</h2>
						</div>
						<img class="card-img-bottom" src="/static/assets/images/maintenance/404.png">
						<div class="card-body">
							<a href="/">
								<button type="button" class="btn btn-danger btn-lg btn-block">Go Back to Main Page</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
